<!DOCTYPE html>
<html>
<head>
    <title>Port Scanner</title>
</head>
<body>
    <h1>Port Scanner</h1>
        {{ipaddr}}
        <label for="ipAddress">IP 주소:</label>
        <input type="text" id="ip" name="ip" placeholder="예: 192.168.0.1" required>

        <button type="button" onclick="startPortScan()">Search</button>
    <p id="scanResult"></p>
    <script>
        function startPortScan() {
            const ipAddress = document.querySelector('#ip').value;

            fetch('/search', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ ip: ipAddress }),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); 
            })
            .then(data => {
                document.getElementById("scanResult").innerHTML = "포트 스캔 결과: " + data.ip;
            })
            .catch(error => {
                document.getElementById("scanResult").innerHTML = "오류 발생: " + error;
            });
        }
    </script>
</body>
</html>